#!/bin/sh


wmname LG3D &
sxhkd &
feh --bg-scale ~/Pictures/Wallpapers/japan-purple.jpg &
$HOME/.config/polybar/launch.sh &
setxkbmap br &
dunst &
nm-applet &
fcitx &
compton -b &
blueman-applet &
redshift-gtk &


