!#include ".cache/squash/x_colors"
!#include "/home/winston/.xrdb/colors/monodevek"
!#include "/home/t60r/.xrdb/fonts/anka"
!#include "/home/winston/.xrdb/rofi/monodevek"

Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
XTerm.vt100.faceName: Iosevka Term SS07:size=11:antialias=true
XTerm.vt100.font: -schumacher-clean-medium-r-normal-*-12-120-75-75-c-*-iso8859-*
Xft.rgba: rgb
Xft.dpi: 96
XTerm.termName: xterm-256color
XTerm.vt100.locale: true
XTerm.vt100.selectToClipboard: true
Xcursor*theme: capitaine-cursors
XTerm.scaleHeight: 1.01

URxvt.scrollBar: false
URxvt.internalBorder:  16
!URxvt*depth: 32
URxvt.perl-ext-common: default,matcher,resize-font
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.matcher.rend.0: Uline Bold fg5
URxvt*borderless: false
URxvt.letterSpace: 0

! Dracula Xresources palette
!! COLORS

! special
URxvt*foreground:   #bbc5ff
URxvt*background:   [100]#292d3e
URxvt*cursorColor:  #bbc5ff

XTerm*foreground: #bbc5ff
XTerm*background: #292d3e
XTerm*cursorColor: #bbc5ff

! black
*.color0:       #101010  !! originally #292d3e
*.color8:       #434758

! red
*.color1:       #f07178
*.color9:       #ff8b92

! green
*.color2:       #c3e88d
*.color10:      #ddffa7

! yellow
*.color3:       #ffcb6b
*.color11:      #ffe585

! blue
*.color4:       #82aaff
*.color12:      #9cc4ff

! magenta
*.color5:       #c792ea
*.color13:      #e1acff

! cyan
*.color6:       #89ddff
*.color14:      #a3f7ff

! white
*.color7:       #d0d0d0
*.color15:      #ffffff
